---

---
<!-- @author: Ludovico Besana -->
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Week 2 Project | bootcamp.dev</title>
	</head>

	<body>
    <div class="py-8 bg-gray-900 min-h-screen text-white" >
		<nav class="flex justify-center space-x-5 md:space-x-10 pb-10">
			<a href="/" class="font-medium hover:text-violet-400">Home</a>
			<a href="/pricing" class="font-bold hover:text-violet-400">Pricing</a>
			<a href="/blog" class="font-medium hover:text-violet-400">Blog</a>
			<a href="/login" class="font-medium hover:text-violet-400">Login</a>
			<a href="/signup" class="-mt-2 py-2 px-5 bg-violet-500 text-white font-semibold rounded-full shadow-md hover:bg-violet-700 
	   focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75">Sign up</a>
		</nav>

       <h1 class="text-center text-5xl mb-10 font-extrabold tracking-tight">
        Pricing
			</h1>
       
	   <div class="mt-12 grid gap-8  grid-cols-1 md:grid-cols-2 mx-auto max-w-xl">

		<div class="bg-gray-800 rounded-lg px-6 pb-8">			
				<h3 class="mt-8 text-2xl font-medium tracking-tight">Basic</h3>

				<p class="mt-4 mx-auto">
					<span class="text-5xl font-extrabold tracking-tight">$29</span>
					<span class="ml-1 text-xl font-semibold">/month</span>
				</p>

				<p class="mt-5 text-gray-400">
					Lorem ipsum 
				</p>

				<ul role="list" class="mt-6 space-y-6">
					<li class="flex">
						<span class="-mt-2 text-green-400 text-3xl">&check;</span>
						<span class="ml-3 text-gray-500 text-left">Access to our service</span>
					</li>

					<li class="flex">
						<span class="-mt-2 text-green-400 text-3xl">&check;</span>
						<span class="ml-3 text-gray-500 text-left">Support</span>
					</li>
				</ul>

		</div>

		<div class="bg-gray-800 rounded-lg px-6 pb-8">			
			<h3 class="mt-8 text-2xl font-medium tracking-tight">Pro</h3>

			<p class="mt-4 mx-auto">
				<span class="text-5xl font-extrabold tracking-tight">$99</span>
				<span class="ml-1 text-xl font-semibold">/month</span>
			</p>

			<p class="mt-5 text-gray-400">
				Lorem ipsum 
			</p>

		<ul role="list" class="mt-6 space-y-6">
			<li class="flex">
				<span class="-mt-2 text-green-400 text-3xl">&check;</span>
				<span class="ml-3 text-gray-500">Access to our service</span>
			</li>

			<li class="flex">
				<span class="-mt-2 text-green-400 text-3xl">&check;</span>
				<span class="ml-3 text-gray-500 text-left">Support</span>
			</li>

			<li class="flex">
				<span class="-mt-2 text-green-400 text-3xl">&check;</span>
				<span class="ml-3 text-gray-500 text-left">More features</span>
			</li>
			</ul>
		</div>
	</div>

	<a href="/signup"><button class="mx-auto mt-10  block py-2 px-5 bg-violet-500 text-white font-semibold rounded-full shadow-md hover:bg-violet-700 
	focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75">
	Sign up now
	</button></a>


      



		
		<footer class="pt-12 mt-20 border-t-2 border-gray-300">
			<nav class="flex justify-center space-x-10 pb-10">
				<a href="/" class="font-medium hover:text-violet-400">Home</a>
				<a href="/features" class="font-medium hover:text-violet-400">Features</a>
				<a href="/pricing" class="font-medium hover:text-violet-400">Pricing</a>
			</nav>

			<p class="text-center text-gray-400">
				&copy; 2022 Great Tool. All rights reserved
			</p>

		</footer>
	

	</div>

	</body>
</html>

